.title {
    text-align: center;
    padding: 10px 0px;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}

.sur_title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.contact_form {
    width: 100%;
    max-width: 900px;
}

.contact_form label {
    width: 22%;
    display: inline-block;
    justify-content: center;
}

.contact_form input,
.contact_form textarea {
    width: 73%;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
}
