.product_title {
    text-align: center;
    padding: 30px 0px;
    margin: 0px;
}

.product_box {
    border: 5px solid #000000;
    padding: 30px 0px;
    margin: 30px 20px;
    width: 100%;
    max-width: 370px;
    display: inline-block;
}

.product_box img {
    width: 230px;
    height: 175px;
}

.product_box h4,
.product_box h5 {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding: 4px 20px;
    margin: 0px;
}

.product_box h4 span,
.product_box h5 span {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding: 0px 3px;
    margin: 0px;
}

.product_box p {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding: 4px 20px;
    margin: 0px;
}

.product_box p span {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding: 0px 3px;
    margin: 0px;
}

.product_box a {
    padding: 8px 18px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #ffffff;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    display: inline-block;
    border-radius: 4px;
}

.cart {
    padding: 8px 15px;
    background-color: blueviolet;
    color: #ffffff;
}

.not_shoping {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding: 10px 25px;
    background-color: red;
    color: #ffffff;
    margin: 0px auto;
    width: 100%;
    max-width: 300px;
}

.shoping {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding: 10px 25px;
    background-color: green;
    color: #ffffff;
    margin: 0px auto;
    width: 100%;
    max-width: 300px;
}